@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
  background-color: #101820FF;
  color: #FEE715FF;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button_container{
  
  margin-top: 25px;
  display: flex;
  justify-content: center;

}

.button_container > button {
  
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (max-width: 500px){
  .count {
    font-size: 30px;
  }
  button {
    font-size: 20px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 35px;
  }

}

@media only screen and (min-width: 501px){
  .count {
    font-size: 40px;
  }
  button {
    font-size: 25px;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 50px;
  }
}


button {
  border: solid 2px #FEE715FF;
  border-radius: 10px;
  color: #FEE715FF;
  padding: 15px;
  background-color: transparent;
}

button:active {
  border: solid 2px #FEE715FF;
  border-radius: 10px;
  color: #101820FF;
  padding: 15px;
  background-color: #FEE715FF;
}

button:hover {
  cursor:pointer;
}